library/killi/template/validator.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="data">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="header" minOccurs="0" type="header" />
				<xsd:element name="menu" minOccurs="0" type="menu" />
				<xsd:element name="title" minOccurs="0" type="title" />
				<xsd:element name="navigator" minOccurs="0" type="navigator" />
				<xsd:element name="list" minOccurs="0" type="list" />
				<xsd:element name="form" minOccurs="0" type="form" />
				<xsd:element name="create" minOccurs="0" type="create" />
				<xsd:element name="panel" minOccurs="0" type="panel" />
			</xsd:all>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="header">
	</xsd:complexType>

	<xsd:complexType name="menu">
	</xsd:complexType>

	<xsd:complexType name="title">
		<xsd:attribute name="string" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="navigator">
		<xsd:attribute name="object" type="xsd:string" />
		<xsd:attribute name="create" type="bool" />
		<xsd:attribute name="unlink" type="bool" />
		<xsd:attribute name="search" type="bool" />
		<xsd:attribute name="edit" type="bool" />
		<xsd:attribute name="save" type="bool" />
	</xsd:complexType>

	<xsd:complexType name="list">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="button" minOccurs="0" maxOccurs="unbounded" type="button" />
			<xsd:element name="field" minOccurs="0" maxOccurs="unbounded" type="field_list" />
			<xsd:element name="hidden" minOccurs="0" maxOccurs="unbounded" type="hidden" />
		</xsd:choice>
		<xsd:attribute name="object" type="xsd:string" use="required" />
		<xsd:attribute name="key" type="xsd:string" />
		<xsd:attribute name="export" type="bool" />
		<xsd:attribute name="selectable" type="xsd:string" />
	</xsd:complexType>

	<xsd:group name="formcontent">
		<xsd:choice>
			<xsd:element name="key" minOccurs="0" maxOccurs="unbounded" type="key" />
			<xsd:element name="field" minOccurs="0" maxOccurs="unbounded" type="field" />
			<xsd:element name="upload" minOccurs="0" maxOccurs="unbounded" type="upload" />
			<xsd:element name="notebook" minOccurs="0" maxOccurs="unbounded" type="notebook" />
			<xsd:element name="hidden" minOccurs="0" maxOccurs="unbounded" type="hidden" />
			<xsd:element name="separator" minOccurs="0" maxOccurs="unbounded" type="separator" />
			<xsd:element name="img" minOccurs="0" maxOccurs="unbounded" type="img" />
			<xsd:element name="listing" minOccurs="0" maxOccurs="unbounded" type="listing" />
			<xsd:element name="group" minOccurs="0" maxOccurs="unbounded" type="group" />
			<xsd:element name="newline" minOccurs="0" maxOccurs="unbounded" type="newline" />
			<xsd:element name="alert" minOccurs="0" maxOccurs="unbounded" type="alert" />
			<xsd:element name="stats" minOccurs="0" maxOccurs="unbounded" type="stats" />
			<xsd:element name="action" minOccurs="0" maxOccurs="unbounded" type="action" />
			<xsd:element name="submit" minOccurs="0" maxOccurs="unbounded" type="submit" />
			<xsd:element name="box" minOccurs="0" maxOccurs="unbounded" type="box" />
			<xsd:element name="fileinputlocal" minOccurs="0" maxOccurs="unbounded" type="fileinputlocal" />
			<xsd:element name="selector" minOccurs="0" maxOccurs="unbounded" type="selector" />
			<xsd:element name="title" minOccurs="0" maxOccurs="unbounded" type="title" />
			<xsd:element name="planifier" minOccurs="0" maxOccurs="unbounded" type="planifier" />
			<xsd:element name="flexigrid" minOccurs="0" maxOccurs="unbounded" type="flexigrid" />
			<xsd:element name="section" minOccurs="0" maxOccurs="unbounded" type="section" />
			<xsd:element name="fillselection" minOccurs="0" maxOccurs="unbounded" type="fillselection" />
			<xsd:element name="csvcol" minOccurs="0" maxOccurs="unbounded" type="csvcol" />
			<xsd:element name="message" minOccurs="0" maxOccurs="unbounded" type="message" />
			<xsd:element name="url" minOccurs="0" maxOccurs="unbounded" type="url" />
			<xsd:element name="space" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="processeditor" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="processviewer" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="picture_document" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="gallery" minOccurs="0" maxOccurs="unbounded" />
		</xsd:choice>
	</xsd:group>

	<xsd:complexType name="form">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:group ref="formcontent" />
		</xsd:choice>
		<xsd:attribute name="object" type="xsd:string" use="required" />
		<xsd:attribute name="action" type="xsd:string" />
		<xsd:attribute name="upload_target" type="xsd:string" />
		<xsd:attribute name="key" type="xsd:string" />
		<xsd:attribute name="css_class" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="create">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="selector" minOccurs="0" maxOccurs="unbounded" type="selector" />
			<xsd:element name="field" minOccurs="0" maxOccurs="unbounded" type="field" />
			<xsd:element name="fileinputlocal" minOccurs="0" maxOccurs="unbounded" type="fileinputlocal" />
			<xsd:element name="newline" minOccurs="0" maxOccurs="unbounded" type="newline" />
			<xsd:element name="box" minOccurs="0" maxOccurs="unbounded" type="box" />
			<xsd:element name="section" minOccurs="0" maxOccurs="unbounded" type="section" />
			<xsd:element name="separator" minOccurs="0" maxOccurs="unbounded" type="separator" />
			<xsd:element name="hidden" minOccurs="0" maxOccurs="unbounded" type="hidden" />
			<xsd:element name="notebook" minOccurs="0" maxOccurs="unbounded" type="notebook" />
		</xsd:choice>
		<xsd:attribute name="object" type="xsd:string" use="required" />
		<xsd:attribute name="action" type="xsd:string" />
		<xsd:attribute name="redirect" type="bool" />
		<xsd:attribute name="key" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="panel">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:group ref="formcontent" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:attributeGroup name="field_attr">
		<xsd:attribute name="object" type="xsd:string" />
		<xsd:attribute name="attribute" type="xsd:string" use="required" />
		<xsd:attribute name="width" type="xsd:string" />
		<xsd:attribute name="selector" type="bool" />
		<xsd:attribute name="readonly" type="bool" />
		<xsd:attribute name="unit" type="xsd:string" />
		<xsd:attribute name="format" type="xsd:string" />
		<xsd:attribute name="display_value" type="bool" />
		<xsd:attribute name="attrs" type="xsd:string" />
		<xsd:attribute name="inverted" type="bool" />
		<xsd:attribute name="noblankvalue" type="bool" />
		<xsd:attribute name="type" type="xsd:string" />
		<xsd:attribute name="events" type="xsd:string" />
		<xsd:attribute name="attrs_type" type="xsd:string" />
		<xsd:attribute name="update" type="xsd:string" />
		<xsd:attribute name="label" type="xsd:string" />
		<xsd:attribute name="text" type="xsd:string" />
		<xsd:attribute name="total" type="bool" />
		<xsd:attribute name="refresh" type="xsd:integer" />
		<xsd:attribute name="value" type="xsd:string" />
		<xsd:attribute name="default_value" type="xsd:string" />
		<xsd:attribute name="autocomplete" type="xsd:string" />
		<xsd:attribute name="text-align" type="xsd:string" />
		<xsd:attribute name="cols" type="xsd:integer" />
		<xsd:attribute name="rows" type="xsd:integer" />
		<xsd:attribute name="delta" type="xsd:integer" />
		<xsd:attribute name="css_class" type="xsd:string" />
		<xsd:attribute name="enable_link" type="bool" />
		<xsd:attribute name="create" type="bool" />
		<xsd:attribute name="reference" type="bool" />
		<xsd:attribute name="tooltip" type="xsd:string" />
		<xsd:attribute name="m2m-separator" type="xsd:string" />
		<xsd:attribute name="profiles" type="xsd:string" />
	</xsd:attributeGroup>

	<xsd:complexType name="field_list">
		<xsd:attributeGroup ref="field_attr" />
		<xsd:attribute name="search" type="bool" />
		<xsd:attribute name="sort" type="bool" />
	</xsd:complexType>

	<xsd:complexType name="upload">
		<xsd:attribute name="name" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="csvcol">
	</xsd:complexType>

	<xsd:complexType name="field">
		<xsd:attributeGroup ref="field_attr" />
	</xsd:complexType>

	<xsd:complexType name="notebook">
		<xsd:sequence>
			<xsd:element name="page" minOccurs="1" maxOccurs="unbounded" type="page" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="page">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:group ref="formcontent" />
			<xsd:element name="raguser" />
		</xsd:choice>
		<xsd:attribute name="string" type="xsd:string" />
		<xsd:attribute name="users" type="xsd:string" />
		<xsd:attribute name="profiles" type="xsd:string" />
		<xsd:attribute name="render_condition" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="section">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:group ref="formcontent" />
		</xsd:choice>
		<xsd:attribute name="title" type="xsd:string" />
		<xsd:attribute name="id" type="xsd:string" />
		<xsd:attribute name="condition" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="fillselection">
		<xsd:attribute name="object" type="xsd:string" use="required" />
		<xsd:attribute name="emitter_attr" type="xsd:string" use="required" />
		<xsd:attribute name="emitter_data" type="xsd:string" use="required" />
		<xsd:attribute name="emitter_title" type="xsd:string" />
		<xsd:attribute name="receiver_attr" type="xsd:string" use="required" />
		<xsd:attribute name="receiver_data" type="xsd:string" use="required" />
		<xsd:attribute name="receiver_title" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="planifier">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="events" minOccurs="0" maxOccurs="unbounded" type="events" />
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:string" />
		<xsd:attribute name="from" type="xsd:integer" />
		<xsd:attribute name="to" type="xsd:integer" />
		<xsd:attribute name="slot_length" type="xsd:integer" />
		<xsd:attribute name="create" type="xsd:string" />
		<xsd:attribute name="layer" type="xsd:string" />
		<xsd:attribute name="mode" type="xsd:string" />
		<xsd:attribute name="events_src" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="events">
		<xsd:attribute name="object" type="xsd:string" />
		<xsd:attribute name="method" type="xsd:string" />
		<xsd:attribute name="color" type="xsd:string" />
		<xsd:attribute name="editable" type="bool" />
		<xsd:attribute name="resizable" type="bool" />
		<xsd:attribute name="draggable" type="bool" />
		<xsd:attribute name="deletable" type="bool" />
	</xsd:complexType>

	<xsd:complexType name="hidden">
		<xsd:attribute name="attribute" type="xsd:string" use="required" />
		<xsd:attribute name="object" type="xsd:string" />
		<xsd:attribute name="value" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="message">
		<xsd:attribute name="object" type="xsd:string" />
		<xsd:attribute name="attribute" type="xsd:string" />
		<xsd:attribute name="string" type="xsd:string" />
		<xsd:attribute name="css_class" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="separator">
		<xsd:attribute name="string" type="xsd:string" use="required" />
		<xsd:attribute name="color" type="xsd:string" />
		<xsd:attribute name="width" type="xsd:string" />
		<xsd:attribute name="profiles" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="selector">
		<xsd:attribute name="grouping" type="bool" />
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="object" type="xsd:string" />
		<xsd:attribute name="attribute" type="xsd:string" />
		<xsd:attribute name="label" type="xsd:string" />
		<xsd:attribute name="sort" type="bool" />
		<xsd:attribute name="data" type="xsd:string" />
		<xsd:attribute name="genericstyle" type="bool" />
		<xsd:attribute name="width" type="xsd:string" />
		<xsd:attribute name="empty" type="bool" />
		<xsd:attribute name="onchange" type="xsd:string" />
		<xsd:attribute name="value" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="img">
		<xsd:attribute name="src" type="xsd:string" use="required" />
		<xsd:attribute name="notfound_message" type="xsd:string" use="optional" />
		<xsd:attribute name="notfound" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="" />
                    <xsd:enumeration value="empty" />
                    <xsd:enumeration value="gray" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="alert">
		<xsd:attribute name="target" type="xsd:string" />
		<xsd:attribute name="close" type="bool" />
	</xsd:complexType>

	<xsd:complexType name="url">
		<xsd:attribute name="href" type="xsd:string" use="required" />
		<xsd:attribute name="string" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="submit">
		<xsd:attribute name="string" type="xsd:string" use="required" />
		<xsd:attribute name="object" type="xsd:string" />
		<xsd:attribute name="width" type="xsd:string" />
		<xsd:attribute name="height" type="xsd:string" />
		<xsd:attribute name="method" type="xsd:string" />
		<xsd:attribute name="confirm" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="key">
		<xsd:attribute name="object" type="xsd:string" use="required" />
		<xsd:attribute name="attribute" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="stats">
		<xsd:attribute name="object" type="xsd:string" use="required" />
		<xsd:attribute name="depth" type="xsd:integer" use="required" />
	</xsd:complexType>

	<xsd:complexType name="fileinputlocal">
		<xsd:attribute name="string" type="xsd:string" use="required" />
		<xsd:attribute name="attribute" type="xsd:string" use="required" />
		<xsd:attribute name="object" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="workflow_history">
		<xsd:attribute name="object" type="xsd:string" use="required" />
		<xsd:attribute name="attribute" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="gstreet">
		<xsd:attribute name="object" type="xsd:string" use="required" />
		<xsd:attribute name="attribute" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="weld">
		<xsd:attribute name="object" type="xsd:string" use="required" />
		<xsd:attribute name="attribute" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="button">
		<xsd:attribute name="string" type="xsd:string" use="required" />
		<xsd:attribute name="action" type="xsd:string" use="required" />
		<xsd:attribute name="width" type="xsd:string" />
		<xsd:attribute name="forcedisplay" type="bool" />
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="confirm" type="xsd:string" />
		<xsd:attribute name="icon" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="newline">
		<xsd:attribute name="profiles" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="listing">
		<xsd:sequence>
			<xsd:element name="field" minOccurs="1" maxOccurs="unbounded" type="field" />
		</xsd:sequence>
		<xsd:attribute name="data_src" type="xsd:string" use="required" />
		<xsd:attribute name="object" type="xsd:string" use="required" />
		<xsd:attribute name="key" type="xsd:string" />
		<xsd:attribute name="string" type="xsd:string" />
		<xsd:attribute name="create" type="bool" />
		<xsd:attribute name="select" type="bool" />
		<xsd:attribute name="unlink" type="xsd:string" />
		<xsd:attribute name="target" type="xsd:string" />
		<xsd:attribute name="env" type="xsd:string" />
		<xsd:attribute name="get" type="xsd:string" />
		<xsd:attribute name="action" type="xsd:string" />
		<xsd:attribute name="draggable" type="bool" />
		<xsd:attribute name="create_width" type="xsd:string" />
		<xsd:attribute name="create_height" type="xsd:string" />
		<xsd:attribute name="domain" type="xsd:string" />
		<xsd:attribute name="edit" type="bool" />
		<xsd:attribute name="autoscrolling" type="bool" />
		<xsd:attribute name="m2m_object" type="xsd:string" />
		<xsd:attribute name="pagination" type="xsd:integer" />
	</xsd:complexType>

	<xsd:complexType name="flexigrid">
		<xsd:sequence>
			<xsd:element name="column" minOccurs="1" maxOccurs="unbounded" type="column" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" />
		<xsd:attribute name="object" type="xsd:string" use="required" />
		<xsd:attribute name="key" type="xsd:string" use="required" />
		<xsd:attribute name="method" type="xsd:string" use="required" />
		<xsd:attribute name="title" type="xsd:string" />
		<xsd:attribute name="height" type="xsd:string" />
		<xsd:attribute name="width" type="xsd:string" />
		<xsd:attribute name="nbline" type="xsd:integer" />
	</xsd:complexType>

	<xsd:complexType name="column">
		<xsd:attribute name="attribute" type="xsd:string" use="required" />
		<xsd:attribute name="string" type="xsd:string" />
		<xsd:attribute name="method" type="xsd:string" />
		<xsd:attribute name="search" type="bool" />
		<xsd:attribute name="sort" type="bool" />
	</xsd:complexType>

	<xsd:complexType name="box">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:group ref="formcontent" />
		</xsd:choice>
		<xsd:attribute name="string" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="group">
		<xsd:sequence>
			<xsd:element name="col" minOccurs="0" maxOccurs="unbounded" type="col" />
		</xsd:sequence>
		<xsd:attribute name="resizable" type="bool" />
		<xsd:attribute name="width" type="xsd:string" />
		<xsd:attribute name="string" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="col">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:group ref="formcontent" />
		</xsd:choice>
		<xsd:attribute name="width" type="xsd:string" />
		<xsd:attribute name="color" type="xsd:string" />
		<xsd:attribute name="css_class" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="action">
		<xsd:attribute name="object" type="xsd:string" use="required" />
		<xsd:attribute name="method" type="xsd:string" use="required" />
		<xsd:attribute name="string" type="xsd:string" use="required" />
		<xsd:attribute name="width" type="xsd:string" />
		<xsd:attribute name="confirm" type="xsd:string" />
		<xsd:attribute name="profiles" type="xsd:string" />
		<xsd:attribute name="always_visible" type="bool" />
	</xsd:complexType>

	<xsd:complexType name="json_plotchart">
		<xsd:attribute name="id" type="xsd:string" />
		<xsd:attribute name="object" type="xsd:string" use="required" />
		<xsd:attribute name="method" type="xsd:string" use="required" />
		<xsd:attribute name="string" type="xsd:string" use="required" />
		<xsd:attribute name="post_data" type="xsd:string" use="required" />
		<xsd:attribute name="refresh" type="xsd:integer" />
		<xsd:attribute name="resizable" type="bool" />
		<xsd:attribute name="height" type="xsd:string" />
		<xsd:attribute name="width" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="gallery">
		<!-- Propriété spécifiques -->
		<xsd:attribute name="src"              type="xsd:string" /> <!-- Nom de l'attribut contenant la liste des images -->
		<xsd:attribute name="object"           type="xsd:string" /> <!-- Nom l'objet (champ "object" de Document) -->
		<xsd:attribute name="attribut"         type="xsd:string" /> <!-- Nom du champ qui contient le object_id -->
		<xsd:attribute name="document_type"    type="xsd:string" /> <!-- Alternatif à object/attribut : cherche les document du type indiqué (constante ou int) -->
		<xsd:attribute name="order_by"         type="xsd:string" /> <!-- Indique le champ de l'objet Image et l'ordre de tri dans la requete SQL -->
		<xsd:attribute name="empty_label_msg"  type="xsd:string" /> <!-- Message lorsque la légende de la photo est vide -->
		<xsd:attribute name="show_label"       type="bool" /> <!-- Afficher la légende de la photo -->
		<xsd:attribute name="show_editlink"    type="bool" /> <!-- Lien vers édition de l'image -->
		<xsd:attribute name="show_counter"     type="bool" /> <!-- Afficher le compteur d'images -->
		<xsd:attribute name="show_date"        type="bool" /> <!-- Date de création dans le titre -->
		<xsd:attribute name="show_user"        type="bool" /> <!-- Utilisateur dans le titre -->
		<xsd:attribute name="show_annotations" type="bool" /> <!-- # d'annotations dans le titre -->
		<xsd:attribute name="show_caption"     type="bool" /> <!-- Voir le figcaption  -->
		<xsd:attribute name="can_rotate"       type="bool" /> <!-- Possibilité de rotation de l'image -->
		<xsd:attribute name="behavior"         > <!-- Comportement par défaut : "photo" ou "picture_document" -->
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="photo" />
					<xsd:enumeration value="picture_document" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="scroll"         > <!-- Scroll -->
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="none" />
					<xsd:enumeration value="both" />
					<xsd:enumeration value="horizontal" />
					<xsd:enumeration value="vertical" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<!-- Dimensions -->
		<xsd:attribute name="thumbwidth"  type="xsd:int" /> <!-- Largeur max des thumbnails affichés -->
		<xsd:attribute name="thumbheight" type="xsd:int" /> <!-- Hauteur max des thumbnais affichés -->
		<xsd:attribute name="width"       type="xsd:int" /> <!-- Largeur totale de la gallery (100% par défaut) -->
		<xsd:attribute name="height"      type="xsd:int" /> <!-- Hauteur totale de la gallery -->
		<!-- Propriété de l'animation -->
		<xsd:attribute name="resizeDuration" type="xsd:int" /> <!-- Durée de l'animation d'affichage de la shadowbox -->
		<xsd:attribute name="animate"        type="bool" /> <!-- Animer la shadowbox -->
		<xsd:attribute name="animateFade"    type="bool" /> <!-- Fading de la shadowbox -->
		<!-- Divers -->
		<xsd:attribute name="string"    type="xsd:string" /> <!-- Titre du composant -->
		<xsd:attribute name="css_class" type="xsd:string" /> <!-- Classe CSS du composant -->
		<xsd:attribute name="style"     type="xsd:string" /> <!-- Style CSS en ligne du composant -->
		<xsd:attribute name="id"        type="xsd:string" /> <!-- ID HTML du composant  -->
	</xsd:complexType>

	<xsd:simpleType name="bool">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="0" />
			<xsd:enumeration value="1" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="picture_document">
		<xsd:attribute name="attribute"     type="xsd:string" use="required" />
		<xsd:attribute name="object"        type="xsd:string" use="optional" />
		<xsd:attribute name="width"         type="xsd:string" use="optional" />
		<xsd:attribute name="cols"          type="xsd:int"    use="optional" />
		<xsd:attribute name="document_type" type="xsd:string" use="optional" />
		<xsd:attribute name="string"        type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="raguser">
		<xsd:attribute name="attribute" type="xsd:string" use="required" />
		<xsd:attribute name="object" type="xsd:string" />
	</xsd:complexType>

</xsd:schema>